@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body{
    font-family: Ubuntu, Arial;
    width: 100%;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: rgb(5, 5, 39) rgb(255, 255, 255);
    box-shadow: inset 0 0 0.3rem rgb(5, 5, 39);
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #010211;
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.6s;
}

#header .profile img{
    margin: 15px auto;
    display: block;
    width: 150px;
    border: 4px solid #4d94ff;
    border-radius: 50%;

}


#header .profile h1{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: #ffff;

}


#header .profile .social-links a{
    font-size: 1.4rem;
    color: #ffff;
    padding: 10px; 
    margin-right: 1.6rem;
    border-radius: 60%;
    transition: 0.3s;
    text-decoration: none;
    
}

#header .profile .social-links a:hover{
    justify-content: center;
    align-items: center;
    background: #fc37a3;
}

.nav-menu{
    padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus{
    display: flex;
    align-items: center;
    color: #b2b3b9;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i{
    font-size: 24px;
    padding-right: 0.8rem;
    color: #b2b3b9;

}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a{
    color: #4d94ff;

}


#main{
    margin-left: 300px;
}


section#inicio{
    background-image: url("./images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    width: 100%;
    height: 100vh;
}

section#inicio h2{
    margin-right: 1rem;
    font-size: 4.5rem;   
}

section#inicio span#subtitle{
    margin-right: 1rem;
    font-size: 1.4rem;
}

.text-shadow{
    text-shadow: 6px 6px 12px #000000;
}


i.menu-mobile{
    position: fixed;
    color: #ffff;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;   
    background-color: #090c3f; 
}

.menu-nav-active{
    overflow: hidden;
}

.menu-nav-active #header{
    left: 0;
}



@media(max-width: 900px){
    #header{
        left: -300px
    }
    i.menu-mobile{
        display: flex;
    }
    section#inicio h2{
        font-size: 3rem;
    }
    section#inicio span#subtitle{
        margin-right: 1;
        font-size: 1.1rem;
    }
    #main{
        margin-left: 0;
    }
}

*::-webkit-scrollbar {
    width: 10px;
}
  
*::-webkit-scrollbar-track {
    width: 12px;
    box-shadow: inset 0 0 .3rem #00000050;
    background-color: #fff ;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #252c90;
}
