<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/images/icone3.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title></title>
</head>
<body>
    <aside id='header'>
        <section class="profile">
            <img src="../static/images/eraldo.jpg" alt="Foto de perfil">
            <h1>Eraldo Rocha</h1>
            <div class="social-links mt-4 text-center" >
                <a target="_bank" href="https://www.instagram.com/e_tenoriof/" >
                    <i class="bi bi-instagram"></i>
                </a>
                <a target="_bank" href="https://www.linkedin.com/in/eraldo-rocha-044652232/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_bank" href="https://github.com/eraldof">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">
                    <i class="bi bi-house"></i>Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="bi bi-file-person"></i>Sobre mim</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="bi bi-list-check"></i>Habilidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="bi bi-code-slash"></i>Projetos</a>
                </li>
              </ul>
        </nav>

    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-12 d-flex justify-content-center align-items-end flex-column">
                <h2 class="text-white text-shadow">Eraldo Rocha</h2>
                <span id="subtitle" class="text-white text-shadow">Lindo, carismático, inteligente, uma lenda.</span>
            </div>

            <div class="col-md-12 d-flex justify-content-end align-items-end">
                <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                <a href=""></a>
            </div>

        </section>


    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>