<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/images/icone3.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title></title>
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/images/eraldo.jpg" alt="Foto de perfil">
            <h1>Eraldo Rocha</h1>
            <div class="social-links mt-4 text-center">
                <a target="_bank" href="https://www.instagram.com/e_tenoriof/">
                    <i style="padding: 10px 5px 10px 10px;" class="bi bi-instagram"></i>
                </a>
                <a target="_bank" href="https://www.linkedin.com/in/eraldo-rocha-044652232/">
                    <i style="padding: 10px 5px 10px 10px;" class="bi bi-linkedin"></i>
                </a>
                <a target="_bank" href="https://github.com/eraldof">
                    <i style="padding: 3%" class="bi bi-github"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <i class="bi bi-house"></i>Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre">
                        <i class="bi bi-person-circle"></i>Sobre mim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades">
                        <i class="bi bi-list-check"></i>Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projetos">
                        <i class="bi bi-code-slash"></i>Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato">
                        <i class="bi bi-envelope"></i>Contato</a>

                </li>
            </ul>
        </nav>

    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-12 d-flex justify-content-center align-items-end flex-column">
                <h2 class="text-white text-shadow">Eraldo Rocha</h2>
                <span id="subtitle" class="text-white text-shadow">Estudante, Programador, Estatístico.</span>
            </div>
        </section>

        <section id='sobre' class="container mt-3" >
            <div class="row mt-2">
                <div class="col-md-4 mt-4">
                    <img class="img-fluid shadow" src="../static/images/selfiebw.jpg" title="sobremim"
                        data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3 class='pt-3'>Sobre mim</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus
                        lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique
                        senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna,
                        auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus
                        lobortis condimentum. Aliquam nonummy auctor massa. </p>

                    <div class="row mt-3 mb-3" >
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">Aniversário: <span class="fw-lighter">4 de Fevereiro</span>
                                </li>
                                <li class="list-group-item">Estado: <span class="fw-lighter">Pernambuco</span></li>
                                <li class="list-group-item">Formação: <span class="fw-lighter">Bacharelado em
                                        estatística</span></li>
                                <li class="list-group-item">Experiência: <span class="fw-lighter">Iniciante</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">Idade: <span class="fw-lighter">25 anos</span></li>
                                <li class="list-group-item">Cidade: <span class="fw-lighter">Recife</span></li>
                                <li class="list-group-item">Hobby: <span class="fw-lighter">Praticar esportes</span>
                                </li>

                        </div>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="habilidades" class="mt-3 section-bg" >
            <div class="container pb-5">
                <h2 class="pt-4">Habilidades</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla massa libero, ornare sed laoreet eu,
                    aliquam venenatis mauris. Sed turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nulla massa libero, ornare sed laoreet eu, aliquam venenatis mauris. Sed turpis. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Nulla massa libero, ornare sed laoreet eu, aliquam
                    venenatis mauris. Sed turpis.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">65%</div>
                        </div>
                        <p class="mt-3 mb-0">R language</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">70%</div>
                        </div>
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">30%</div>
                        </div>
                        <p class="mt-3 mb-0">Inglês</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">60%</div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">30%</div>
                        </div>

                        <p class="mt-3 mb-0">Pacotes Office</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">65%</div>
                        </div>
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">25%</div>
                        </div>
                        <p class="mt-3 mb-0">Python Frameworks (Pandas, Flask, Numpy, Matplot)</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">50%</div>
                        </div>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">90%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">75%</div>
                        </div>

                        <p class="mt-3 mb-0">Organização</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">80%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Honestidade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">100%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="projetos" class="section mt-3">
            <div class="container pt-3" data-anime="left">

                <h2 class="pb-4">Projetos</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/images/Screenshot_1.png" class="card-img-top"
                                            alt="Discord Bot">
                                        <div class="card-body">
                                            <h5 class="card-title">Discord Bot</h5>
                                            <p class="card-text">O bot foi feito em python. Ele possui uma função de webscrapp e algumas ferramentas úteis para utilizar
                                                em um morpg específico.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/eraldof/Discord-bot" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/images/Screenshot_2.png"
                                            class="card-img-top img-fluid w-100" alt="Print da calculadora">
                                        <div class="card-body">
                                            <h5 class="card-title">Calculadora de Nota</h5>
                                            <p class="card-text">Criei essa calculadora utilizando C#. Ela pede 3 notas
                                                e
                                                retorna a média aritmética e a nota necessária caso o aluno vá para
                                                final.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/eraldof/CalculadoraDeNota" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/images/Screenshot_3.png"
                                            class="card-img-top img-fluid w-100" alt="Print do código">
                                        <div class="card-body">
                                            <h5 class="card-title">Function Solver</h5>
                                            <p class="card-text">Esse programa foi criado para a resolução de funções
                                                matemáticas utilizando métodos computacionais existentes.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/eraldof/MetodosComputacionais"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
        </section>

        <section id="contato" class="pt-4" id="contato">
            <div class="container mb-5">
                <div class="row">
                    <div class="col-md-5">
                        <h2>Contato</h3> 
                        <div class="card p-5 shadow border-0">
                            <div class="email">
                                <h4><i class="bi bi-envelope-fill"></i> Email:</h4>
                                <p>eraldoest@gmail.com</p>
                                <h4><i class="bi bi-discord"></i> Discord:</h4>
                                <p>Eraldo#4990</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 d-flex justify-content-end align-items-end">
                      
                            <a class="nav-link" aria-current="page" href="#">
                                <i class="bi bi-arrow-up text-black fs-2" ></i></a>
                       

                    </div>


                </div>

                

            </div>
        </section>


    </main>


    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Skaazy Code</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>




